<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- we don't have to use "public" as prefix because we have regestered it in the app.js
    as default folder for all static files -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Hobbies</title>
  </head>
  <body>
    <h1>List of hobbies:</h1>
    <ul>
      <li><a href="/hobbies/crochet">Crochet</a></li>      
      <li>Cooking</li>
      <li>Reading</li>
    </ul>
  </body>
</html>
